body.home {
  font-family: 'arial', segoe print, sans-serif;
  font-weight: 100;
  color: white;
  background-image: url("hawks words.jpg");
  background-repeat: repeat;
  text-align: center;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
body.other {
  font-family: 'arial', segoe print, sans-serif;
  font-weight: 100;
  background-color: white;
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
  color: white;
}
h1 {
  text-align: center;
}
h1 {
  text-shadow: 1px 1px 1px white;
}
h2 {
  color: white;
}
h2 {
  text-shadow: 1px 1px 1px white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
li {
    color: black;
}
p {
    color: white;
}
.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
